//colors
// $theme-main: #4CC9F0;
// $theme-main: #72fad2;
$theme-main: #c4e7ff;
$theme-main-red: #FF3A20;
$theme-main-dark: #383838;
$white: #ffffff;
$white-dark: #e2e2e2;
$black: #000000;
$dark-font: #222222;
$grey-dark: #2d2a25;
$font-color:#333333;
$grey-light: #dddddd;
$grey: #777777;
$grey2: #eeeeee;
$grey3: #c3c3c3;
$grey4: #444;
$grey5: #848484;
$grey6: #e5e5e5;
$grey7: #787878;
$grey8: #D9D9D9;
$grey9: #f3f3f3;
$grey10: #9c9c9c;
$banners-background: #f5f5f5;
$background: #fafafa;
$gray-lighter: #f6f6f6;
$footer-background: #f7f7f7;

/* primary */
$primary0: #000000;
$primary10: #002118;
$primary20: #00382b;
$primary25: #004435;
$primary30: #00513f;
$primary35: #005e4a;
$primary40: #006b55;
$primary50: #00876b;
$primary60: #00a483;
$primary70: #29c09c;
$primary80: #51ddb6;
$primary90: #72fad2;
$primary95: #baffe6;
$primary98: #e6fff4;
$primary99: #f3fff8;
$primary100: #ffffff;
/* secondary */
$secondary0: #000000;
$secondary10: #001e2c;
$secondary20: #00344a;
$secondary25: #004059;
$secondary30: #004c69;
$secondary35: #00597a;
$secondary40: #00658a;
$secondary50: #0080ad;
$secondary60: #009bd1;
$secondary70: #2fb7f2;
$secondary80: #7cd0ff;
$secondary90: #c4e7ff;
$secondary95: #e3f3ff;
$secondary98: #f5faff;
$secondary99: #fbfcff;
$secondary100: #ffffff;
/* tertiary */
$tertiary0: #000000;
$tertiary10: #001454;
$tertiary20: #102878;
$tertiary25: #1f3484;
$tertiary30: #2c4090;
$tertiary35: #394c9c;
$tertiary40: #4559a9;
$tertiary50: #5f72c4;
$tertiary60: #798ce0;
$tertiary70: #93a6fd;
$tertiary80: #b8c4ff;
$tertiary90: #dde1ff;
$tertiary95: #efefff;
$tertiary98: #fbf8ff;
$tertiary99: #fefbff;
$tertiary100: #ffffff;
/* neutral */
$neutral0: #000000;
$neutral10: #001a43;
$neutral20: #002d6c;
$neutral25: #003882;
$neutral30: #15448f;
$neutral35: #26509b;
$neutral40: #345ca8;
$neutral50: #4f75c3;
$neutral60: #6a8fdf;
$neutral70: #85aafc;
$neutral80: #afc6ff;
$neutral90: #d9e2ff;
$neutral95: #edf0ff;
$neutral98: #faf9ff;
$neutral99: #fefbff;
$neutral100: #ffffff;
/* neutral-variant */
$neutral-variant0: #000000;
$neutral-variant10: #151d1a;
$neutral-variant20: #29322f;
$neutral-variant25: #343d39;
$neutral-variant30: #3f4945;
$neutral-variant35: #4b5550;
$neutral-variant40: #57605c;
$neutral-variant50: #6f7974;
$neutral-variant60: #89938e;
$neutral-variant70: #a4ada8;
$neutral-variant80: #bfc9c3;
$neutral-variant90: #dbe5df;
$neutral-variant95: #e9f3ed;
$neutral-variant98: #f2fcf6;
$neutral-variant99: #f5fff8;
$neutral-variant100: #ffffff;
/* error */
$error0: #000000;
$error10: #410002;
$error20: #690005;
$error25: #7e0007;
$error30: #93000a;
$error35: #a80710;
$error40: #ba1a1a;
$error50: #de3730;
$error60: #ff5449;
$error70: #ff897d;
$error80: #ffb4ab;
$error90: #ffdad6;
$error95: #ffedea;
$error98: #fff8f7;
$error99: #fffbff;
$error100: #ffffff;
/* light */
$primary-light: #006b55;
$on-primary-light: #ffffff;
$primary-container-light: #72fad2;
$on-primary-container-light: #002118;
$secondary-light: #00658a;
$on-secondary-light: #ffffff;
$secondary-container-light: #c4e7ff;
$on-secondary-container-light: #001e2c;
$tertiary-light: #4559a9;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #dde1ff;
$on-tertiary-container-light: #001454;
$error-light: #ba1a1a;
$error-container-light: #ffdad6;
$on-error-light: #ffffff;
$on-error-container-light: #410002;
$background-light: #fefbff;
$on-background-light: #001a43;
$surface-light: #fefbff;
$on-surface-light: #001a43;
$surface-variant-light: #dbe5df;
$on-surface-variant-light: #3f4945;
$outline-light: #6f7974;
$inverse-on-surface-light: #edf0ff;
$inverse-surface-light: #002d6c;
$inverse-primary-light: #51ddb6;
$shadow-light: #000000;
$surface-tint-light: #006b55;
$surface-tint-color-light: #006b55;
/* dark */
$primary-dark: #51ddb6;
$on-primary-dark: #00382b;
$primary-container-dark: #00513f;
$on-primary-container-dark: #72fad2;
$secondary-dark: #7cd0ff;
$on-secondary-dark: #00344a;
$secondary-container-dark: #004c69;
$on-secondary-container-dark: #c4e7ff;
$tertiary-dark: #b8c4ff;
$on-tertiary-dark: #102878;
$tertiary-container-dark: #2c4090;
$on-tertiary-container-dark: #dde1ff;
$error-dark: #ffb4ab;
$error-container-dark: #93000a;
$on-error-dark: #690005;
$on-error-container-dark: #ffdad6;
$background-dark: #001a43;
$on-background-dark: #d9e2ff;
$surface-dark: #001a43;
$on-surface-dark: #d9e2ff;
$surface-variant-dark: #3f4945;
$on-surface-variant-dark: #bfc9c3;
$outline-dark: #89938e;
$inverse-on-surface-dark: #001a43;
$inverse-surface-dark: #d9e2ff;
$inverse-primary-dark: #006b55;
$shadow-dark: #000000;
$surface-tint-dark: #51ddb6;
$surface-tint-color-dark: #51ddb6;
/* Custom Colors */
$color-Yellow: #ffcb47;
$color-Red: #FF3A20;
